{% extends "base.html" %}
{% load comments %}
{% load vote_helper %}
{% load playlist_helper %}
{% block title %} {{playlist.title}} {% endblock %}

{% block content %}

<h2>{{playlist.title}}</h2>

<table class="basic" style="width:98%;">
	<tr class="even">
	<th style="width:120px;">Title</th>
		<td>{{playlist.title}}</td>
	</tr>
	<tr>
		<th>Score</th>
		<td>
		    {{playlist.score|default:0}}
		    {% vote_on_object_inline request playlist %}
		</td>
	</tr>

	<tr class="even">
		<th>Bookmarks</th>
		<td>
			<ul>
				{% for bookmark in playlist.bookmarks.all %}
				<li>
					<a href="{{bookmark.get_absolute_url}}" title="{{bookmark.title}}" class="bookmark">
						{{bookmark}}
					</a>
				</li>
				{% endfor %}
			</ul>
					
		</td>
	</tr>

	<tr>
		<th>Followers</th>
		<td>{{playlist.followers.all|length}}</td>
	</tr>


	<tr>
		<th>Feed</th>
		<td>
			<a href="{% url playlist-bookmarks playlist.slug %}" title="Bookmark feed for this playlist">
				<img src="{{MEDIA_URL}}images/icons/feed.png" />
			</a>
		</td>
	</tr>
	
	{% if playlist.parent_fork %}
		<tr>
			<th>Parent fork</th>
			<td>
				This playlist was forked from 
				<a href="{{playlist.parent_fork.get_absolute_url}}" title="Bookmark feed for this playlist">{{playlist.parent_fork}}</a>
			</td>
		</tr>
	{% endif %}


</table>

   <script type="text/javascript">
    $(function (){
        $('a.whats_this').click(function() {
            var url = this.href;
            var dialog = $('<div style="display:none"></div>').appendTo('body');
            
            dialog.load(url).dialog({modal:true}); 

            //prevent the browser to follow the link
            return false;
        });
    });
    </script>


{% vote_on_object request playlist %}

{% if request.user.is_authenticated %}
	<div class="options">
		{% if request.user|is_editor_or_owner:playlist %}
			<a class="button" href="{% url bookmarks.playlist_views.edit request.user.username playlist.slug %}">edit</a>
		{% else %}
			{% include "playlist/follow_fork.html" %}
		{% endif %}
	</div>
{% endif %}

{% if request.user.is_authenticated %}
	<a name="comments"></a>
	<h4 style="border-top:#efefef 1px solid; margin-top:24px; padding-top:12px;">Comments</h4>
	{% get_comment_count for playlist as comment_count %}
	{% get_comment_list for playlist as comments %}
	{% get_comment_form for playlist as form %}
	
	{% ifequal comment_count 0 %}
	    <div class="message info">This bookmark has no comments, be the first to add one.</div>
	{% endifequal %}
	
	{% for comment in comments %}
	    <div class="comment {% cycle 'odd' 'even' %}">
	        {{comment.comment|striptags|linebreaksbr}}<br/>
	        <span class="helptext">Added by {{comment.user}} on {{comment.submit_date|date:"l, jS F Y, P"}}.</span>
	    </div>        
	{% endfor %}
	{% with bookmark.get_absolute_url as next %} 
	
	<form action="{% comment_form_target %}" method="post">
	    <ul>
	    {% csrf_token %}
	        <input type="hidden" name="next" value="{{ next }}" />
	        {% for field in form %}
	            {% if field.is_hidden %}
	                {{ field }}
	            {% else %}
	            
	            {% if field.errors %} class="message error"{{ field.errors }}</li>{% endif %}
	                <li
	                {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}
	                {% ifequal field.name "name" %} style="display:none;"{% endifequal %}
	                {% ifequal field.name "email" %} style="display:none;"{% endifequal %}
	                {% ifequal field.name "url" %} style="display:none;"{% endifequal %}
	                {% ifequal field.name "title" %} style="display:none;"{% endifequal %}>
	                {{ field.label_tag }} {{ field }}
	                </li>
	            {% endif %}
	        {% endfor %}
	        <li style="margin-top:12px;">
	            <button type="submit" name="submit" value="Post" class="button positive"/>
	            <img src="{{MEDIA_URL}}images/icons/disk.png" alt="save"/>Save Comment</button>
	        
	        </li>
	    </ul>
	  </form>
	</table>
	{% endwith %}
{% else %}
    <p>Please <a href="/auth/">log in</a> to post a comment.</p>
{% endif %}


{% endblock %}