{% extends "base.html" %}


{% block title %} Add a bookmark {% endblock %}

{% block content %}
<script type="text/javascript" src="{{MEDIA_URL}}javascript/ajax_select.js"></script>

<div id='authors'></div>

<form method="POST" action="">
	{% csrf_token %}
	<ul>
		{{form.as_ul}}
		<li style="margin-top:12px;">
			<button type="submit" value="Save bookmark" class="button positive"/><img src="{{MEDIA_URL}}images/icons/disk.png" alt="save"/>Save Bookmark</button>
		</li>
	</ul>

</form>

{% endblock %}